<!DOCTYPE html>
<html>
  <head>
    <title>direct</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center><img src='/images/image.jpg' /></center>
  </body>
</html>
